@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=Space+Mono&display=swap');
@import url('./styles/genre.css');
@import url('/styles/navbar.css');
/* main css */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Silkscreen';
}
body {
	background-color: black;
	color: #edf0f1;
}

/* searchbar css */
.search {
	display: flex;
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	align-items: center;
	justify-content: center;
	padding-bottom: 25px;
	margin: 3px #edf0f1;
}

.search-bar {
	/* position: sticky; */
	width: 100%;
	max-width: 700px;
	padding: 10px 20px;
	background: #24252a;
	border: 1px white;
	border-radius: 25px;
	font-size: 20px;
	color: white;
	font-family: 'Silkscreen';
}

.search-bar::placeholder {
	font-size: 16px;
	color: white;
}
.search-bar:focus {
	border: rgba(175, 0, 50, 0.9);
}

.searchBtn {
	width: 75px;
	height: 50px;
	background-color: rgba(175, 0, 50, 1);
	color: white;
	border: none;
	border-radius: 25px;
}

.searchBtn:hover {
	cursor: pointer;
	background-color: rgba(175, 0, 50, 0.6);
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	border-bottom: 1px white;
	justify-content: center;
}

/* pug pages css */
.game-container {
	background-color: #24252a;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
	border-radius: 5px;
	margin: 15px;
	border: 1.5px solid rgb(175, 0, 50);
}
.game-header {
	border: 1px solid white;
	border-radius: 15px;
}
.game-desc {
	font-size: 12px;
}
.game-image {
	width: 500px;
	height: 300px;
	padding-top: 5px;
	border: 1px solid white;
	border-radius: 10px;
}
.image-container {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-self: center;
	align-items: center;
}
.web-link {
	padding: 5px;
}

.genre-container {
	background-color: #24252a;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
	border-radius: 5px;
	margin: 15px;
}
.genre-header {
	border: 1px solid white;
	border-radius: 15px;
}
.genre-desc {
	font-size: 12px;
}
.genre-image {
	max-width: 500px;
	max-height: 700px;
	border-radius: 20px;
}

.signup-text {
	font-size: 12px;
	border: none;
}

.signup-link {
	text-decoration: solid;
	list-style: circle;
}

.signup-link:hover {
	color: rgba(175, 0, 50);
}
