doctype html 
html 
    head 
        title GameLib 
        link( rel="stylesheet" href="/styles.css")
        link( rel="stylesheet" href="/navbar.css")
        link( rel="stylesheet" href="/genre.css")
        link( rel="stylesheet" href="/games.css")
    body 
        
    include ../navbar
    include ../search
    div(id="genres-container")
    div(id="games-container")
    div(id="developers-container")
    div(id="platforms-container")
    
        
        
    block content
    

   



    
    script(type="module" src="/app.js" async)

      
