

header(class="navbar")
        a(href="/home" )
            h1(class="logo") GameLib
        ul(class="nav-links")
            a(href="/search")
                li Search games
            a(href="/wishlist")
                li Wishlist
        a(href="/signup") 
            button(class="signup" href="/login") Sign Up / Login