extends ../../layouts/core-without-search.pug
block content 
    div(class="genre-container")
        h1(class="genre-header") #{name}
        p(class="genre-desc") #{description}
        p(class="genre-desc") Number Of Games In This Genre: #{games_count}
        img(class="genre-image" src=image)