extends ../../layouts/core.pug
block content 
    div(class="genre-container")
        h1(class="genre-header") #{name}
        
        p(class="genre-desc") #{description}
        img(class="genre-image" src=image class="genre-image")